/* Direct communication component styles - mobile in default */
.vetera-comp-direct-communication {
    /* Grid styles */
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0;

        /* Grid styles - Desktop styles */
        @include media-breakpoint-up(dt) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            flex-direction: row-reverse;
            column-gap: 32px;
            grid-auto-flow: column;
        }
    }

    /* Section symbol */
    &__symbol {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        margin: 0 auto;

        /* Grid styles - Desktop styles */
        @include media-breakpoint-up(dt) {
            margin: 0;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    /* Section image */
    &__img-blk {
        position: relative;
        margin: 0 auto;

        @include media-breakpoint-up(dt) {
            margin: 0;
        }
    }

    &__image {
        position: relative;
        max-width: 467px;
        height: auto;
        margin: 0 auto;
        border-radius: 4px;
        float: none;

        @include media-breakpoint-up(dt) {
            float: left;
        }

        &__pink-bg {
            position: absolute;
            display: block;
            content: "";
            top: -36px;
            width: 75%;
            height: 79%;
            background-color: var(--color-redlight);
            border-radius: 4px;
            max-width: 366px;
            z-index: -1;
            right: 0;
        }

        img {
            width: 90%;
            height: auto;

            @include media-breakpoint-up(dt) {
                float: left;
            }
        }
    }

    /* Section details - Desktop styles */
    @include media-breakpoint-up(dt) {
        &__details {
            grid-column-end: -1;
        }
    }
}