/* Direct communication component styles - mobile in default */
.vetera-comp-jobs {
    padding: 24px 24px 53px;
    border-top: 1px solid ;
    border-bottom: 1px solid var(--color-lightblue);
    border-left: 1px solid var(--color-lightblue);
    border-right: 1px solid var(--color-lightblue);
    box-shadow: 0px 1px 18px rgba(17, 17, 17, 0.03);
}