//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}

.strong, .bold, b, strong{
  font-weight: 600;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}


// Elipsis (Truncate text)
// -------------------------

.elipsis, .ellipsis{
  @include ellipsis();
}


// Strikethrough / Overline
// -------------------------

.line-through,
.strike-through,
.overline{
  text-decoration: line-through;
}

tr.strike-through {
  text-decoration: none;
  td{
    *{
      color: #c1d0dc;
      cursor: default;
    }
    &:before {
      content: " ";
      position: absolute;
      top: 50%;
      left: 0;
      border-bottom: 1px solid #d7dfe4;
      width: 100%;
    }
  }
}



// Positioning
// -------------------------
.relative {position: relative;}

// Width & Height
// -------------------------

.width-full{width: 100%;}
.width-half{width: 50%;}

.height-full{height: 100%;}
.height-half{height: 50%;}


// Separator
// -------------------------

.separator{
  display: inline-block;
  width: 100%;
  background: $app-default-border;
  height: 1px;
}

/*.dotted-separator{
  // margin-left: -15px;
  // margin-right: -15px;
  // display: inherit;
  @extend %left-wide;
  height: 0px;
  padding: 1px 0 0;
  //border-bottom: 1px dotted $light-periwinkle;
  background-image: linear-gradient(to right, $light-periwinkle 40%, rgba(255, 255, 255, 0) 20%);
  background-position: top;
  background-size: 4px 1px;
  background-repeat: repeat-x;
  i{
  }
}*/

/*.filter-link{
  color: $water-blue;
  opacity: 0.79;
  font-size: 12px;
  margin-top: 1px;
}

.tap-to-change{
  font-size: 9px;
  font-weight: 300;
  line-height: 2.11;
  color: $dark-periwinkle;
}*/

.no-box-shadow{
  box-shadow: none !important;
}

.blue-bg{
  background-color: #2b8aeb;
}

.no-border{
  border: none !important;
}

.rounded {
  @include border-radius(100%);
}

.height-auto {
  height: auto !important;
}