/* Undefined list (post pages) styles - mobile in default */
.list {
  padding-left: 16px;
  list-style: disc;
}

/* Widget list styles - mobile in default */
.widget {
  list-style: none;
}

/* Listing styles - mobile in default */
.vetera-unordered-list {
  width: 65%;
  margin: 0 auto;

  /* List styles - Desktop styles */
  @include media-breakpoint-up(dt) {
    width: 100%;
  }

    li {
      position: relative;
      padding-left: 44px;
      font-family: var(--txt-sm-font-size);
      color: var(--color-dark);
      
      &:after {
        position: absolute;
        top: 6px;
        left: 0;
        width: 20px;
        height: 20px;
        content: '';
        display: block;
        background-color: transparent;
        background-image: url('assets/images/check_circle.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
    }
}

/* Slick dots - mobile in default */
.slick-dots {
  width: 100%;
  text-align: center;

  li {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 4px;

    button {
      height: 100%;
      width: 100%;
      padding: 0;
      text-indent: -9999px;
      border-radius: 16px;
      background-color: var(--color-redlight);
      border-color: var(--color-redlight);
    }
  }
  .slick-active {
    button {
      background-color: var(--color-torch-red);
      border-color: var(--color-torch-red);
    }
  }
}

/* Ordered list - mobile in default */
ol {
  list-style: decimal;
  padding-left: 16px;
}