/* Block image styles - mobile in default */
.vetera-careers-block-image-header {
    position: relative;

    /* Title block styles */
    &__title-blk {

        /* Title block styles - Desktop styles */
        @include media-breakpoint-up(dt) {
            max-width: 600px;
            margin: 0 auto;
        }
    }
    
    /* Image block styles */
    &__image-blk {
            width: 100%;
            max-width: 768px;
            height: auto;

            img {
                height: 100%;
                width: 100%;

                /* Image block styles - Desktop styles */
                @include media-breakpoint-up(dt) {
                    height: auto;
                    max-height: 100%;
                    object-fit: cover;
                }
            }

        /* Image block styles - Desktop styles */
        @include media-breakpoint-up(dt) {
            max-width: 1440px;
            height: auto;
            margin: 0 auto;
        }
    }
}
