/* Careers our jobs styles - mobile in default */
.vetera-careers-our-jobs {
    position: relative;
    background-color: var(--color-lightblue);

    /* Careers our jobs title styles */
    &__title-blk {
        position: relative;

        /* Increase container width styles - Desktop styles */
        @include media-breakpoint-up(dt) {
            width: 686px;
            margin: 0 auto;
        }
    }

    /* Careers our jobs item styles */
    &__item {
        padding: 20px;
        background-color: var(--color-white);
        border-radius: 4px;
        border: 1px solid var(--color-lightblue);
        box-shadow: 0px 1px 18px rgba(17, 17, 17, 0.03);
        transition: ease-in-out 0.8s;

        /* Careers our jobs item styles - Desktop styles */
        @include media-breakpoint-up(dt) {
            padding: 24px 32px;
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            grid-gap: 20px;
            align-items: center;

            .btn.mob {
                display: none;
            }
        }

        &:hover {

            /* Careers our jobs item hover styles - Desktop styles */
            @include media-breakpoint-up(dt) {
                grid-template-columns: 5fr 1fr;
                background-color: var(--color-blue1);

                .vetera-careers-our-jobs__item__career,
                .vetera-careers-our-jobs__item__location {
                    display: none;
                }

                .pos {
                    color: var(--color-white) !important;
                }

                .pod {
                    color: var(--color-dark1) !important;
                }

                .btn.mob {
                    display: block;
                }
            }
        }

        /* Careers our jobs item department styles */
        &__department {

            /* Careers our jobs item department styles - Desktop styles */
            @include media-breakpoint-up(dt) {
                color: var(--color-white);
            }
        }

        /* Careers our jobs item location styles */
        &__location {
            width: 40%;

            /* Careers our jobs item location styles - Desktop styles */
            @include media-breakpoint-up(dt) {
                width: 100%;
            }
        }

        /* Careers our jobs item career styles */
        &__career {
            width: 58%;

            /* Careers our jobs item career styles - Desktop styles */
            @include media-breakpoint-up(dt) {
                width: 100%;
            }
        }

        .mob-inline {
            display: inline-block;
        }

        .btn.mob {
            display: block;

            /* Careers our jobs item career styles - Desktop styles */
            @include media-breakpoint-up(dt) {
                display: none;
            }
        }
    }

    /* View all styles */
    &__view-all {
        position: relative;
        width: 100%;
        margin: 0 auto;

        .pushme {

            /* Careers our jobs item career styles - Desktop styles */
            @include media-breakpoint-up(dt) {
                margin-top: 32px;
            }
        }
    }
}