/* Vetera blog list */ 
.vetera-blog-list {

  /* List wrapper */ 
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 40px;

    @include media-breakpoint-up(dt) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
}