/* Vetera home hero */ 
.vetera-home-hero {
  padding-top: 116px;

  @include media-breakpoint-up(dt) {
    padding-top: 150px;
    padding-bottom: 36px;
  }

  /* Main grid */ 
  &__main-grid {
    display: grid;
    grid-template-columns: 1fr;

    row-gap: 0;
    
    @include media-breakpoint-up(dt) {
      grid-template-columns: 1fr 1fr;
      column-gap: 12px;
      row-gap: 48px;
    }
  }

  /* Banner image */ 
  &__banner-img {
      display: block;
      width: 100%;
      min-height: 310px;
      object-fit: contain;

      @include media-breakpoint-up(dt) {
        display: block;
        max-height: unset;
      }
  }

  .mobile-move {

    img {
      display: none;

      @include media-breakpoint-up(dt) {
        display: block;
      }
    }
  }

  .description-col {

    img {
      padding-top: 48px;

      @include media-breakpoint-up(dt) {
        display: none;
        padding-top: 0;
      }
    }
  }

  /* Button wrapper */ 
  &__btn-wrapper {
    
    .btn {
      @include media-breakpoint-down(mb) {
        width: 100%;
      }
      @include media-breakpoint-up(dt) {
        min-width: 150px;
      }
    }

  }

  &__listing {

    li {
      position: relative;
      padding-left: 44px;

      &:after {
        position: absolute;
        top: 4px;
        left: 0;
        width: 20px;
        height: 20px;
        content: '';
        display: block;
        background-color: transparent;
        background-image: url(assets/images/check_circle.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
    }
  }
}