/* Vetera Seminare page header styles */
.vetera-seminare-page-header {
  position: relative;
  background-color: rgba($lightblue, .35);
  overflow: hidden;


  /* Vetera Seminare page container styles */
  .container {
        
    /* Vetera Seminare page container styles - Desktop styles */
    @include media-breakpoint-up(dt) {
        max-width: 1040px;
        padding-left: 0;
        padding-right: 0;
    }
  }

  /* Vetera Seminare page header before styles */
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 88%;
    background: rgba($imperial-blue, 0.05);
    z-index: -1;
  }

   /* Vetera Seminare page header body styles */
  &__body {
    &-bg {
      position: absolute;
      top: 80px;
      right: 0;
      bottom: 0;
      width: 280px;
      display: block;
      height: 188px;
      content: "";
      background-image: url(assets/images/product-details/product-details-single-image-gradient.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      z-index: -1;

      /* Background color gradient - Desktop styles */
      @include media-breakpoint-up(dt) {
        position: absolute;
        width: 465px;
        height: 241px;
      }
    }
  }
}
